Repository drochgenius/mtl-assessment-components, pull requests merged in 2018-08, with the labels that each got.

#2 CERD-172 > Refactoring of base classes and mixins
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/component-base/.npmignore
  packages/component-base/package.json
  packages/component-base/src/components/base.ts
  packages/component-base/src/components/component-helpers.ts
  packages/component-base/src/components/feedback-mixin.ts
  packages/component-base/src/components/persistence-mixin.ts
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/feedback.ts
  packages/component-base/src/mixins/persistence.ts
  packages/text-input/.npmignore
  packages/text-input/package.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/typings.d.ts
Labels: component-base, refactoring, text-input

#3 CERD-170 > Implement Accessibility for Text-Input
  packages/component-base/package-lock.json
  packages/component-base/src/components/base.ts
  packages/component-base/src/mixins/feedback.ts
  packages/text-input/demo/index.html
  packages/text-input/package-lock.json
  packages/text-input/src/components/text-input.ts
Labels: text-input

#6 CERD-173 > Add unit tests
  lerna.json
  packages/component-base/package.json
  packages/component-base/src/components/base.ts
  packages/text-input/package.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/unit/test-helpers.ts
  packages/text-input/src/unit/text-input.spec.ts
  packages/text-input/test/runner.html
Labels: test, text-input

#9 CERD-178 > Drop Down
  packages/component-base/package-lock.json
  packages/drop-down/README.md
  packages/drop-down/demo/index.css
  packages/drop-down/demo/index.html
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/src/sass/drop-down.scss
  packages/drop-down/src/unit/drop-down.spec.ts
  packages/drop-down/src/unit/test-helpers.ts
  packages/drop-down/test/runner.html
  packages/text-input/package-lock.json
Labels: drop-down

#11 CERD-182 > Mcq Unit Tests
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/multiple-choice/src/typings.d.ts
  packages/multiple-choice/src/unit/multiple-choice.spec.ts
  packages/multiple-choice/test/runner.css
  packages/multiple-choice/test/runner.html
Labels: mcq, test

#12 CERD-188 > MCQ Documentation
  packages/multiple-choice/index.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/multiple-choice/polymer.json
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/multiple-choice/src/tsconfig.json
  packages/multiple-choice/src/unit/multiple-choice.spec.ts
Labels: documentation, mcq

#13 CERD-174 > drop down
  packages/drop-down/README.md
  packages/drop-down/demo/index.html
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/src/sass/drop-down.scss
  packages/drop-down/src/unit/drop-down.spec.ts
  packages/drop-down/src/unit/test-helpers.ts
  packages/drop-down/test/runner.html
Labels: drop-down, test

#17 missing dependency
  packages/text-input/package.json
Labels: bug fix, text-input

#18 Minor > Add linkall script and fix type error on text-input
  README.md
  package.json
  packages/component-base/package-lock.json
  packages/component-base/src/mixins/feedback.ts
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/response-validation/package-lock.json
  packages/text-input/package-lock.json
  packages/text-input/src/components/text-input.ts
Labels: enhancement
