Repository drochgenius/mtl-assessment-components, pull requests merged in 2018-10, with the labels that each got.

#44 CERD-214 > Update components to @polymer/lit-element 0.6
  package.json
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/component-base/src/components/base.ts
  packages/component-base/src/components/multiple-choice.ts
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/persistence.ts
  packages/component-base/src/unit/base.spec.ts
  packages/component-base/src/unit/feedback.spec.ts
  packages/component-base/src/unit/fixture-elements.ts
  packages/component-base/src/unit/multiple-choice.spec.ts
  packages/component-base/src/unit/response-validation.spec.ts
  packages/component-base/test/runner.html
  packages/drop-down/README.md
  packages/drop-down/demo/index.html
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/src/index.ts
  packages/drop-down/src/unit/drop-down.spec.ts
  packages/drop-down/src/unit/test-helpers.ts
  packages/drop-down/test/runner.html
  packages/multiple-choice/demo/index-mcq.html
  packages/multiple-choice/demo/index-mrq.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/multiple-choice/src/components/multiple-choice-question.ts
  packages/multiple-choice/src/components/multiple-response-question.ts
  packages/multiple-choice/src/index.ts
  packages/multiple-choice/src/unit/constants.spec.ts
  packages/multiple-choice/src/unit/feedback.spec.ts
  packages/multiple-choice/src/unit/rendering.spec.ts
  packages/multiple-choice/test/runner.html
  packages/text-input/demo/index.html
  packages/text-input/package-lock.json
  packages/text-input/package.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/index.ts
  packages/text-input/src/unit/test-helpers.ts
  packages/text-input/src/unit/text-input.spec.ts
  packages/text-input/test/runner.html
Labels: refactoring

#43 CERD-210 > graph
  package-lock.json
  package.json
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/plot-graph/.gitignore
  packages/plot-graph/.npmignore
  packages/plot-graph/README.md
  packages/plot-graph/demo/index.css
  packages/plot-graph/demo/index.html
  packages/plot-graph/index.html
  packages/plot-graph/package-lock.json
  packages/plot-graph/package.json
  packages/plot-graph/polymer.json
  packages/plot-graph/src/components/plot-graph.ts
  packages/plot-graph/src/sass/plot-graph.scss
  packages/plot-graph/src/tsconfig.json
  packages/plot-graph/src/typings.d.ts
  packages/plot-graph/src/unit/plot-graph.spec.ts
  packages/plot-graph/src/unit/test-helpers.ts
Labels: plot-graph

#47 put back d3 imports
  packages/plot-graph/demo/index.html
  packages/plot-graph/package-lock.json
  packages/plot-graph/src/components/plot-graph.ts
Labels: enhancement, plot-graph

#49 Drag drop more features
  package-lock.json
  packages/component-base/package-lock.json
  packages/drag-drop/README.md
  packages/drag-drop/demo/index-drag-container.html
  packages/drag-drop/demo/index-drop-container.html
  packages/drag-drop/demo/index.css
  packages/drag-drop/demo/index.html
  packages/drag-drop/package-lock.json
  packages/drag-drop/src/components/drag-container.ts
  packages/drag-drop/src/components/drag-drop.ts
  packages/drag-drop/src/components/drop-container.ts
  packages/drag-drop/src/sass/drag-drop.scss
Labels: drag-drop, enhancement

#52 CERD-218 > Create module import maps
  README.md
  package.json
  packages/component-base/import-map.json
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/drag-drop/import-map.json
  packages/drag-drop/package-lock.json
  packages/drag-drop/package.json
  packages/drag-drop/src/index.ts
  packages/drop-down/import-map.json
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/multiple-choice/import-map.json
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/plot-graph/import-map.json
  packages/plot-graph/package-lock.json
  packages/plot-graph/package.json
  packages/plot-graph/src/index.ts
  packages/text-input/import-map.json
  packages/text-input/package-lock.json
  packages/text-input/package.json
Labels: component-base, drag-drop, drop-down, enhancement, mcq, plot-graph, text-input

#54 CERD-219 > Update NodeJS Base Server CLI v1.4
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/drag-drop/package-lock.json
  packages/drag-drop/package.json
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/plot-graph/package-lock.json
  packages/plot-graph/package.json
  packages/text-input/package-lock.json
  packages/text-input/package.json
Labels: enhancement, refactoring

#56 CERD-219 > Server iteration
  package-lock.json
  package.json
  packages/component-base/import-map.json
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/drag-drop/import-map.json
  packages/drag-drop/package-lock.json
  packages/drag-drop/package.json
  packages/drag-drop/src/misc-imports.ts
  packages/drag-drop/src/typings.d.ts
  packages/drop-down/import-map.json
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/drop-down/src/misc-imports.ts
  packages/drop-down/src/typings.d.ts
  packages/multiple-choice/import-map.json
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/multiple-choice/src/misc-imports.ts
  packages/multiple-choice/src/typings.d.ts
  packages/plot-graph/import-map.json
  packages/plot-graph/package-lock.json
  packages/plot-graph/package.json
  packages/plot-graph/src/misc-imports.ts
  packages/plot-graph/src/typings.d.ts
  packages/text-input/import-map.json
  packages/text-input/package-lock.json
  packages/text-input/package.json
  packages/text-input/src/misc-imports.ts
  packages/text-input/src/typings.d.ts
Labels: enhancement

#57 CERD-217 > bug fixes
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/feedback.ts
  packages/drag-drop/README.md
  packages/drag-drop/demo/index-drop-container.html
  packages/drag-drop/demo/index.html
  packages/drag-drop/test/runner.html
  packages/drop-down/README.md
  packages/drop-down/demo/index.html
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/test/runner.html
  packages/multiple-choice/demo/index-mcq.html
  packages/multiple-choice/demo/index-mrq.html
  packages/multiple-choice/test/runner.html
  packages/text-input/demo/index.html
  packages/text-input/src/components/text-input.ts
  packages/text-input/test/runner.html
Labels: bug fix

#58 CERD-222 > MCQ Bug Fixes
  .vscode/settings.json
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/component-base/src/components/multiple-choice.ts
  packages/component-base/src/tsconfig.json
  packages/drag-drop/package-lock.json
  packages/drop-down/package-lock.json
  packages/multiple-choice/demo/index-mcq.html
  packages/multiple-choice/demo/index-mrq.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/src/components/multiple-choice-question.ts
  packages/multiple-choice/src/components/multiple-response-question.ts
  packages/multiple-choice/src/sass/multiple-choice.scss
  packages/plot-graph/package-lock.json
  packages/text-input/package-lock.json
Labels: bug fix, mcq

#59 Cerd 220 3d vis
  package-lock.json
  packages/drag-drop/package-lock.json
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/plot-graph/README.md
  packages/plot-graph/demo/index.css
  packages/plot-graph/demo/plot-graph-3d.html
  packages/plot-graph/demo/plot-graph.html
  packages/plot-graph/import-map.json
  packages/plot-graph/package-lock.json
  packages/plot-graph/package.json
  packages/plot-graph/src/components/plot-graph-3d.ts
  packages/plot-graph/src/components/plot-graph.ts
  packages/plot-graph/src/index.ts
  packages/plot-graph/src/typings.d.ts
  packages/text-input/package-lock.json
Labels: plot-graph

#64 CERD-205 > drag drop > lock internal elements
  lerna.json
  packages/component-base/package.json
  packages/drag-drop/demo/index.html
  packages/drag-drop/package.json
  packages/drag-drop/src/components/drag-container.ts
  packages/drag-drop/src/components/drag-drop.ts
  packages/drag-drop/src/components/sortable-drop-container.ts
  packages/drag-drop/src/unit/rendering.spec.ts
  packages/drag-drop/test/runner.html
  packages/drop-down/package.json
  packages/multiple-choice/package.json
  packages/plot-graph/package.json
  packages/text-input/package.json
Labels: drag-drop
