Repository drochgenius/mtl-assessment-components, pull requests merged in 2018-09, with the labels that each got.

#22 CERD-175 > Text Input Feedback styles
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/feedback.ts
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/response-validation/src/components/response-validation.ts
  packages/text-input/demo/index.html
  packages/text-input/package-lock.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/sass/text-input.scss
  packages/text-input/src/unit/test-helpers.ts
  packages/text-input/src/unit/text-input.spec.ts
  packages/text-input/test/runner.html
Labels: text-input

#23 [WIP] CERD-181 , CERD-193 > mcq feedback
  packages/component-base/package-lock.json
  packages/component-base/src/mixins/feedback.ts
  packages/multiple-choice/demo/index.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/multiple-choice/src/sass/multiple-choice.scss
  packages/response-validation/src/components/response-validation.ts
Labels: mcq

#26 Fix response validation
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/mixins/feedback.ts
  packages/drop-down/demo/index.html
  packages/drop-down/src/components/drop-down.ts
  packages/multiple-choice/demo/index.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/package.json
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/response-validation/.gitignore
  packages/response-validation/.npmignore
  packages/response-validation/README.md
  packages/response-validation/demo/index.css
  packages/response-validation/demo/index.html
  packages/response-validation/index.html
  packages/response-validation/package-lock.json
  packages/response-validation/package.json
  packages/response-validation/polymer.json
  packages/response-validation/src/sass/response-validation.scss
  packages/response-validation/src/tsconfig.json
  packages/response-validation/src/typings.d.ts
  packages/text-input/package.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/test/runner.html
Labels: refactoring, reponse-validation

#27 CERD-194 > multiple selection on drop-down
  .gitignore
  package-lock.json
  packages/component-base/package.json
  packages/drop-down/demo/index.css
  packages/drop-down/demo/index.html
  packages/drop-down/package.json
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/src/sass/drop-down.scss
  packages/drop-down/src/unit/drop-down.spec.ts
  packages/drop-down/src/unit/test-helpers.ts
  packages/drop-down/test/runner.html
  packages/multiple-choice/package.json
  packages/text-input/package.json
Labels: drop-down

#29 mcq tests
  package-lock.json
  packages/component-base/src/mixins/feedback.ts
  packages/multiple-choice/demo/index.html
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/multiple-choice/src/unit/constants.spec.ts
  packages/multiple-choice/src/unit/feedback.spec.ts
  packages/multiple-choice/src/unit/multiple-choice.spec.ts
  packages/multiple-choice/src/unit/rendering.spec.ts
  packages/multiple-choice/test/runner.html
Labels: mcq

#30 CERD-199 > Use a common mixin for Multiple Choice and Drop Down
  package.json
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/feedback.ts
  packages/component-base/src/mixins/multiple-choice-mixin.ts
  packages/drop-down/package-lock.json
  packages/drop-down/src/components/drop-down.ts
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/src/components/multiple-choice.ts
  packages/text-input/package-lock.json
Labels: component-base, drop-down, mcq, refactoring

#35 CERD 201 > Fix Tests
  packages/multiple-choice/package.json
  packages/multiple-choice/src/unit/feedback.spec.ts
  packages/multiple-choice/src/unit/rendering.spec.ts
  packages/multiple-choice/test/runner.html
Labels: mcq, test

#36 MultipleChoice as a base class rather than a mixin.
  packages/component-base/package-lock.json
  packages/component-base/src/components/base.ts
  packages/component-base/src/components/multiple-choice.ts
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/index.ts
  packages/component-base/src/mixins/feedback.ts
  packages/component-base/src/mixins/multiple-choice-mixin.ts
  packages/component-base/src/tsconfig.json
  packages/drop-down/demo/index.html
  packages/drop-down/package-lock.json
  packages/drop-down/src/components/drop-down.ts
  packages/drop-down/src/unit/drop-down.spec.ts
  packages/drop-down/test/runner.html
  packages/multiple-choice/demo/index-mcq.html
  packages/multiple-choice/demo/index-mrq.html
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/src/components/multiple-choice-question.ts
  packages/multiple-choice/src/components/multiple-response-question.ts
  packages/multiple-choice/src/unit/feedback.spec.ts
  packages/multiple-choice/test/runner.html
  packages/text-input/package-lock.json
  packages/text-input/package.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/unit/text-input.spec.ts
Labels: component-base, drop-down, mcq, refactoring

#37 CERD-203 > fix text-input tests
  packages/component-base/package-lock.json
  packages/drop-down/package-lock.json
  packages/drop-down/package.json
  packages/multiple-choice/package-lock.json
  packages/text-input/package-lock.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/src/unit/text-input.spec.ts
Labels: test, text-input

#40 CERD-206 > Unit test for Component Base
  package.json
  packages/component-base/package-lock.json
  packages/component-base/package.json
  packages/component-base/src/components/base.ts
  packages/component-base/src/components/multiple-choice.ts
  packages/component-base/src/components/response-validation.ts
  packages/component-base/src/mixins/feedback.ts
  packages/component-base/src/tsconfig.json
  packages/component-base/src/typings.d.ts
  packages/component-base/src/unit/base.spec.ts
  packages/component-base/src/unit/feedback.spec.ts
  packages/component-base/src/unit/fixture-elements.ts
  packages/component-base/src/unit/index.spec.ts
  packages/component-base/src/unit/multiple-choice.spec.ts
  packages/component-base/src/unit/response-validation.spec.ts
  packages/component-base/test/runner.html
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/multiple-choice/src/unit/feedback.spec.ts
  packages/multiple-choice/test/runner.html
  packages/text-input/package-lock.json
  packages/text-input/src/components/text-input.ts
  packages/text-input/test/runner.html
Labels: component-base, test

#41 CERD-208 > Continuous Integration
  package-lock.json
  package.json
  packages/component-base/package-lock.json
  packages/drop-down/package-lock.json
  packages/multiple-choice/package-lock.json
  packages/text-input/package-lock.json
Labels: enhancement
